{% if user.user_type %}
<footer class="bg-body-tertiary text-center card mt-5 shadow-lg">
    <!-- Grid container -->
    <div  class="container p-4  card shadow-lg">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a style="border: 2px solid #0dcaf0; color: #0d6efd;"  data-mdb-ripple-init class="btn btn3" href="https://www.facebook.com/tpi.thakurgaon" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        <!-- Twitter -->
        <a style="border: 2px solid #0dcaf0; color: #0d6efd;" data-mdb-ripple-init class="btn btn3" href="https://www.facebook.com/TPICPCThakurgonPolytechnicInstitute" role="button"
          ><i class="fas fa-laptop"></i
        ></a>

        
  
        <!-- Google -->
        <a style="border: 2px solid #0dcaf0; color: #0d6efd;" data-mdb-ripple-init class="btn btn3" href="https://mail.google.com/mail/u/0/#inbox" role="button"
          ><i class="fab fa-google"></i
        ></a>
  
        <!-- Instagram -->
        <a style="border: 2px solid #0dcaf0; color: #0d6efd;" data-mdb-ripple-init class="btn btn3" href="https://www.instagram.com/?next=https%3A%2F%2Fwww.instagram.com%2Freel%2FC0LgcC8v97-%2F%3Ffbclid%3DIwAR1wUY0lLSA4t7NrG1OrCt3bhuzvvrz1Qr2NNihqUoMyI2lHCvkcGr67-nk" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a style="border: 2px solid #0dcaf0; color: #0d6efd;" data-mdb-ripple-init class="btn btn3" href="https://bd.linkedin.com/in/ashikulislamofficial" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a style="border: 2px solid #0dcaf0; color: #0d6efd;" data-mdb-ripple-init class="btn btn3" href="https://github.com/tpicpc" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->

      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          Elevating education, fostering innovation. Proudly serving our students' journey. Join our community and embark on a path of knowledge. Together, we shape futures. Discover more about our college at <a style="color:#0dcaf0" href="https://www.thakpoly.gov.bd/">thakpoly.gov.bd</a>
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->




        <div class="row">
          
          <div class="col-3">
            <a href=""></a>
          </div>




        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
  </footer>
  <!-- Footer -->
  {% else %}
  <footer>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      Thakurgaon Polytechnic Institute, 
      <a class="text-reset fw-bold" href="#">Thakurgaon Polytechnic Institute</a>
      <p>Phone : 01771139444</p>
    </div>

  </footer>
  {% endif %}
