{% load active_link_tags %}


{% if user.user_type == "1" %}
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
       <div id="sidebar-menu" class="sidebar-menu">
          <ul>
             <li class="menu-title">
                <span>Main Menu</span>
             </li>
             <li class="{% active_link 'user_home_page' 'active' %}">
                <a href="/user_home_page/"><i class="fas fa-user-graduate"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
             </li>

             <li class="submenu {% active_link 'add_teacher_by_principals' 'active' %} {% active_link 'add_department_heads' 'active'%}">
               <a href="#"><i class="fas fa-chess-king"></i> <span> Head of Departments</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="/list_of_dephead/">Head of Dep List</a></li>
                  <li><a href="/add_department_head/{{user.username}}/">Head of Dep Add</a></li>
               </ul>
            </li>

             <li class="submenu">
                <a href="#"><i class="fas fa-building"></i> <span> Departments</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="/department_list/">Department List</a></li>
                   <li><a href="/add_department_by_principal/">Department Add</a></li>
                </ul>
             </li>

             
             <li class="submenu">
                <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
                <ul>
                   <li><a href="/subject_list/{{user.id}}/">Subject List</a></li>
                   <li><a href="/add_subject/{{user.id}}/">Subject Add</a></li>
                </ul>
             </li>


             <li class="submenu">
               <a href="#"><i class="fas fa-user-graduate"></i> <span> Students</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="/get_student_list/{{user.id}}/">Students List</a></li>
                  <li><a href="/create_a_session/">Create A Session</a></li>
               </ul>
            </li>


            
            <li class="submenu">
               <a href="#"><i class="fas fa-file"></i> <span> Results</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="/view_alr2/">Published Student Result</a></li>
                  <li><a href="/view_my_result/">View Result</a></li> 
               </ul>
            </li>


            <li class="submenu">
               <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="/Teacher_list/{{user.id}}/">Teacher List</a></li>

                  <li><a href="/not_aproval_teacher_list/">Not aproval Techaers</a></li>
                  
               </ul>
            </li>
          

            <li class="submenu">
               <a href="#"><i class="fas fa-reply"></i> <span>Leave Applications</span> <span class="menu-arrow"></span></a>
               <ul>

                  <li><a href="/View_apply_for_leave_applications/">View Applications</a></li>

                  <li><a href="/view_aproved_application/">Aproved Applications</a></li>
                  
               </ul>
            </li>
          

            <li class="submenu">
               <a href="#"><i class="fas fa-blog"></i> <span>Blog Posts</span> <span class="menu-arrow"></span></a>

               <ul>
                  <li><a href="/my_posts/{{user.id}}/">My Posts</a></li>
                  <li><a href="/create_a_post/{{user.id}}/">Create A Post</a></li>            
               </ul>
               
            </li>

            
            <li class="submenu">
               <a href="#"><i class="fas fa-bell"></i> <span>Notices</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="/create_a_notices_for_user_and_other/{{user.id}}/">Create A Notice</a></li> 
               </ul>
            </li>

          </ul>
       </div>
    </div>
 </div>



 {% elif user.user_type == "2" %}
 <div class="sidebar" id="sidebar">
   <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
         <ul>
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li class="{% active_link 'user_home_page' 'active' %}">
               <a href="/user_home_page/"><i class="fas fa-user-graduate"></i> <span>Dashboard</span> <span class="menu-arrow"></span></a>
            </li>


            <li class="submenu">
               <a href="#"><i class="fas fa-user-graduate"></i> <span>Students</span> <span class="menu-arrow"></span></a>
               <ul>

                  <li><a href="/get_student_list/{{user.id}}/">Students List</a></li>
                  <li><a href="/view_none_aproval_Student/{{user.id}}/">None Aproval Students</a></li>
                  <li><a href="/view_my_result/">view result</a></li>
                                    
               </ul>
            </li>
            
            <li class="submenu {% active_link 'add_teacher_by_principals' 'active' %}">
               <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Teachers</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="/Teacher_list/{{user.id}}/">Teacher List</a></li>
                  
                  <li><a href="/add_teacher_by_Head_of_dep/{{user.username}}/">Teacher Add</a></li>
                 
               </ul>
            </li>


            <li class="submenu">
               <a href="#"><i class="fas fa-book-reader"></i> <span> Subjects</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="/subject_list/{{user.id}}/">Subject List</a></li>
                  <li><a href="/add_subject/{{user.id}}/">Subject Add</a></li>
               </ul>
            </li>

            <li class="submenu">
               <a href="#"><i class="fas fa-blog"></i> <span>Blog Posts</span> <span class="menu-arrow"></span></a>

               <ul>
                  <li><a href="/my_posts/{{user.id}}/">My Posts</a></li>
                  <li><a href="/create_a_post/{{user.id}}/">Create A Post</a></li>            
               </ul>
               
            </li>

            <li class="submenu">
               <a href="#"><i class="fas fa-bell"></i> <span>Notices</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="/create_a_notices_for_user_and_other/{{user.id}}/">Create A Notice</a></li> 
               </ul>
            </li>



            
           <li class="submenu">
            <a href="#"><i class="fas fa-reply"></i> <span>Apply for Leave</span> <span class="menu-arrow"></span></a>
           
            <ul>
               <li><a href="/apply_for_leave/{{user.id}}/">Apply For Leave</a></li>
               <li><a href="/My_leaving_applications/{{user.id}}/">My Applications</a></li>                             
            </ul> 
          </li>  




         </ul>
      </div>
   </div>
</div>

{% elif user.user_type == "3" %}

<div class="sidebar" id="sidebar">
   <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
         <ul>

            <li class="menu-title">
               <span>Main Menu</span>
            </li>

            <li class="{% active_link 'user_home_page' 'active' %}">
               <a href="/user_home_page/"><i class="fas fa-user-graduate"></i> <span>Dashboard</span> <span class="menu-arrow"></span></a>
            </li>

            <li class="submenu">
               <a href="#"><i class="fas fa-user-graduate"></i> <span>Students</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="/get_student_list/{{user.id}}/">Students List</a></li>                                     
               </ul>
            </li>
            
            <li class="submenu">
               <a href="#"><i class="fas fa-building"></i> <span>Attendences</span> <span class="menu-arrow"></span></a> 
               <ul>
                  <li><a href="/take_addtedance/{{user.id}}/">Take Attendences</a></li> 
                  <li><a href="/view_attendence/{{user.id}}/">View Attendences</a></li>                                                  
               </ul>
            </li>


            <li class="submenu">
               <a href="#"> <i class="fas fa-file"></i> <span>Add Results</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="/add_mark_for_sudent/{{user.id}}/">Add Mark</a></li>
                  <li><a href="/view_my_result/">View Result</a></li>            
               </ul>
            </li>

            <li class="submenu">
               <a href="#"><i class="fas fa-blog"></i> <span>Blog Posts</span> <span class="menu-arrow"></span></a>

               <ul>
                  <li><a href="/my_posts/{{user.id}}/">My Posts</a></li>
                  <li><a href="/create_a_post/{{user.id}}/">Create A Post</a></li>            
               </ul>
               
            </li>
   


           <li class="submenu">
            <a href="#"><i class="fas fa-reply"></i> <span>Apply for Leave</span> <span class="menu-arrow"></span></a>
           
            <ul>
               <li><a href="/apply_for_leave/{{user.id}}/">Apply For Leave</a></li>
               <li><a href="/My_leaving_applications/{{user.id}}/">My Applications</a></li>                             
            </ul> 
          </li>  
          
          <li class="submenu">
            <a href="#"><i class="fas fa-user-graduate"></i> <span>Class Rooms</span> <span class="menu-arrow"></span></a>
            <ul>
               <li><a href="#">Create A Class For Student</a></li>
               <li><a href="#">My Class</a></li>                                     
            </ul>
         </li>


         </ul>
      </div>
   </div>
</div>


{% elif user.user_type == "4" %}

<div class="sidebar" id="sidebar">
   <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
         <ul>

            <li class="menu-title">
               <span>Main Menu</span>
            </li>

            <li class="{% active_link 'user_home_page' 'active' %}">
               <a href="/user_home_page/"><i class="fas fa-user-graduate"></i> <span>Dashboard</span> <span class="menu-arrow"></span></a>
            </li>



            <li class="submenu">
               <a href="#"><i class="fas fa-building"></i> <span>Attendences</span> <span class="menu-arrow"></span></a> 
               <ul>
                  <li><a href="/view_attendence/{{user.id}}/">View my Attendences</a></li> 
                                           
               </ul> 
            </li>


            <li class="submenu">
               <a href="#"> <i class="fas fa-file"></i> <span>Results</span> <span class="menu-arrow"></span></a>

               <ul>
                  
                  <li><a href="/view_my_result/">View results</a></li>                             
               </ul> 
            </li>


            <li class="submenu">
               <a href="#"><i class="fas fa-blog"></i> <span>Blog Posts</span> <span class="menu-arrow"></span></a>

               <ul>
                  <li><a href="/my_posts/{{user.id}}/">My Posts</a></li>
                  <li><a href="/create_a_post/{{user.id}}/">Create A Post</a></li>            
               </ul>
               
            </li>
   


         <li class="submenu">
            <a href="#"><i class="fas fa-reply"></i> <span>Apply for Leave</span> <span class="menu-arrow"></span></a>
            
            <ul>
               <li><a href="/apply_for_leave/{{user.id}}/">Apply For Leave</a></li>
               <li><a href="/My_leaving_applications/{{user.id}}/">My Applications</a></li>                             
            </ul> 
          </li>

          <li class="submenu">
            <a href="#"><i class="fas fa-user-graduate"></i> <span>Class Rooms</span> <span class="menu-arrow"></span></a>
            <ul>
               <li><a href="#">My Classes</a></li>
               <li><a href="#">My Class Reports</a></li>                                     
            </ul>
         </li>
          


         </ul>
      </div>
   </div>
</div>






{% elif user.user_type == "5" %}
<div class="sidebar" id="sidebar">
   <div class="sidebar-inner slimscroll">
      <div id="sidebar-menu" class="sidebar-menu">
         <ul>
            <li class="menu-title">
               <span>Main Menu</span>
            </li>
            <li class="{% active_link 'user_home_page' 'active' %}">
               <a href="/user_home_page/"><i class="fas fa-user-graduate"></i> <span>Dashboard</span> <span class="menu-arrow"></span></a>
            </li>

            <li class="submenu {% active_link 'add_teacher_by_principals' 'active' %} {% active_link 'add_department_heads' 'active'%}">
              <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span>Carousel Design</span> <span class="menu-arrow"></span></a>
              <ul>
                 <li><a href="/add_carosel_for_neer/">Add Carosel</a></li>
                 <li><a href="/carousel_list/">Carolsel List</a></li>
              </ul>
           </li>

            <li class="submenu">
               <a href="#"><i class="fas fa-building"></i> <span> Courses Of NeerApp</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="/neer_add_courses/">Add Courses</a></li>
                  <li><a href="/neer_app_course_list/">Course List</a></li>
               </ul>
            </li>


            <li class="submenu">
               <a href="#"><i class="fas fa-book-reader"></i> <span>About TPI</span> <span class="menu-arrow"></span></a>
               <ul>
                  <li><a href="/update_collage_informations/">Update TPI Informations</a></li>
               
               </ul>
            </li>


            <li class="submenu">
              <a href="#"><i class="fas fa-user-graduate"></i> <span>Mission & Vission</span> <span class="menu-arrow"></span></a>
              <ul>                 
                 <li><a href="/add_mission/">ADD Mission</a></li>
                 <li><a href="/add_vission/">ADD Vission</a></li>
                 <li><a href="/mission_list_or_vission_list/0/">Mission List</a></li>
                 <li><a href="/mission_list_or_vission_list/1/">Vission List</a></li>
              </ul>
           </li>
           <li class="submenu">
              <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span>Image Gellary</span> <span class="menu-arrow"></span></a>
              <ul>

                 <li><a href="/about_page/">Photo Gellary</a></li>
                 <li><a href="/add_photo_into_gelarry/">Add Photos</a></li>

                 <li><a href="/none_aproval_photos/">Not aproval Photos</a></li>

              </ul>
           </li>


         <li class="submenu">
            <a href="#"><i class="fas fa-blog"></i> <span>Blog Posts</span> <span class="menu-arrow"></span></a>
            <ul>
               <li><a href="/my_posts/{{user.id}}/">My Posts</a></li>
               <li><a href="/create_a_post/{{user.id}}/">Create A Post</a></li>
               <li><a href="/none_aproval_post/">None Aproval Post</a></li>               
            </ul>
         </li>

         <li class="submenu">
            <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span>Public Masseges</span> <span class="menu-arrow"></span></a>
            <ul>
               <li><a href="/public_messages/">Public Messages</a></li>

               
            </ul>
         </li>


         <li class="submenu">
            <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span>Contact Info</span> <span class="menu-arrow"></span></a>
            <ul>
               <li><a href="/update_contuct_info/">Update Contact info</a></li>               
            </ul>
         </li>



         <li class="submenu">
            <a href="#"><i class="fas fa-bell"></i> <span>Notices</span> <span class="menu-arrow"></span></a>
            <ul>
               <li><a href="/create_a_notices_for_user_and_other/{{user.id}}/">Create A Notice</a></li> 
            </ul>
         </li>

         </ul>
      </div>
   </div>
</div>



{% endif %}