{% extends "base.html" %}

{% block start %}


{% if user.user_type == "3" %}
<div class="content container-fluid">

    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Take Atendance</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Attendance</a></li>
    <li class="breadcrumb-item active">Take Atendance</li>
    </ul>
    </div>
    </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">
    <div class="card">
    <div class="card-body">

    {% if action is None %}
     
    <form action="?action=get_attendance_info" method ="post", enctype="multipart/form-data" >
    {% csrf_token %}
    <div class="row">



        <div class="col-12">
            {% include "included/messages.html" %}
            <h5 class="form-title"><span>Basic Details</span></h5>
         </div>
        
        

            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Semester</label>
                    <select name="Semester" required class="form-control">
                    <option value="" >Select Semester</option> 
                    
                    {% for x in Semesters %}
                    <option value="{{x.id}}" >{{x.Semester_ID}}</option> 
                    {% endfor %}
                    </select>
                </div>
            </div>


            
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Group</label>
                    <select name="Group" required class="form-control">
                    <option value="" >Select Group</option> 
                    
                    {% for y in Groups %}
                    <option value="{{y.id}}" >{{y.Group_ID}}</option> 
                    {% endfor %}

                    </select>
                </div>
            </div>


            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Shift</label>
                    <select name="Shift" required class="form-control">
                    <option value="" >Select Shift</option>
                                        
                    {% for a in Shift_id %}
                    <option value="{{a.id}}" >{{a.Shift_ID}}</option> 
                    {% endfor %}
                    
                    </select>
                </div>
            </div>



            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Subject</label>
                    <select name="Subject" required class="form-control">
                    <option value="" >Select Subjects</option>
                                        
                    {% for z in Sub_ids %}
                    <option value="{{z.id}}" >{{z.Subjects_Name}}</option> 
                    {% endfor %}
                    
                    </select>
                </div>
            </div>
        
     


    <div class="col-12">
    <button type="submit" class="btn btn-primary">Face Student</button>
    </div>
    </div>
    </form>




<!-- Else part -->




    {% else %}         
    <form action="{% url 'save_attendence_info' %}" method ="post" >
        {% csrf_token %}
        <div class="row">
    
    
    
            <div class="col-12">
                {% include "included/messages.html" %}
                <h5 class="form-title"><span>Basic Details</span></h5>
             </div>
            
            

             <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Semester</label>
                    <select name="Semester" required class="form-control">
                    <option value="{{Semesters_ids.id}}" >{{Semesters_ids.Semester_ID}}</option> 
                    </select>
                </div>
            </div>


            
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Group</label>
                    <select name="Group" required class="form-control">
                    <option value="{{group_id.id}}" >{{group_id.Group_ID}}</option>
                    </select>
                </div>
            </div>


            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Shift</label>
                    <select name="Shift" required class="form-control"> 
                    <option value="{{shift_id.id}}" >{{shift_id.Shift_ID}}</option> 
                    </select>
                </div>
            </div>



            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Subject</label>
                    <select name="Subject" required class="form-control"> 
                    <option value="{{sub_id.id}}" >{{sub_id.Subjects_Name}}</option>      
                    
                    </select>
                </div>
            </div>



            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Attendance Taking</label>
                    <select name="Creator" required class="form-control"> 
                    <option value="{{admins.id}}" > <span>{{admins.first_name}}</span> <span>{{admins.last_name}}</span> </option>  
                    </select>
                </div>
            </div>



            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Attendance Date</label>
                    <input required name="date" type="date" class="form-control">
                </div>
            </div>






            <hr style="width: 100%; height: 2px; color: black;">
             

                <div class="container">
                    <div class="row">
                        {% for x in Stud_TPI %}
                        <div class="col-lg-3 col-sm-4 col-12">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{x.id}}" name="Students" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                  <span>{{x.id}}</span> . <span></span><span>{{x.admin.first_name}}</span>
                                </label>
                              </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>               
            
         
    
    
        <div class="col-12">
        <button type="submit" class="btn btn-primary mt-5">Submit</button>
        </div>
        </div>
        </form>
    
    {% endif %}


    </div>
    </div>
    </div>
    </div>
    </div>


    {% endif %}


{% endblock %}