{% extends "base.html" %}


{% block start %}

{% if user.user_type == "1" %}

<div class="content container-fluid">

    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Add Session</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Session</a></li>
    <li class="breadcrumb-item active">Add Session</li>
    </ul>
    </div>
    </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">
    
    <div class="card">
    <div class="card-body">
    {% include "included/messages.html" %}
    
    <form method="post",>
    {% csrf_token %}

    <div class="row">

        <div class="col-12">
            <h5 class="form-title"><span>Session Details</span></h5>
        </div>
        
        
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Session Start</label>
                    <input required name="Session_Satar"  type="number" class="form-control">
                </div>
            </div>
        
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Session End</label>
                    <input required name="Session_End" type="number" class="form-control">
                </div>
            </div>



    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
     </div>
    </form>
    </div>
    </div>
    </div>
     </div>
    </div>

{% endif %}
    

{% endblock %}