{% extends "base.html" %}


{% block start %}



{% if user.user_type == "1" %}

<div class="content container-fluid">

    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Update Subject</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Subjects</a></li>
    <li class="breadcrumb-item active">Update Subject</li>
    </ul>
    </div>
    </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">
    
    <div class="card">
    <div class="card-body">
    {% include "included/messages.html" %}
    
    <form method="post",>
    {% csrf_token %}

    <div class="row">

        <div class="col-12">
            <h5 class="form-title"><span>Subjects Details</span></h5>
        </div>
        
        
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Subject ID</label>
                    <input required name="Sub_ID" value="{{Sub.Sub_ID}}" type="text" class="form-control">
                </div>
            </div>
        
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Subject Name</label>
                    <input required name="Subjects_Name" value="{{Sub.Subjects_Name}}" type="text" class="form-control">
                </div>
            </div>

            
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>TC</label>
                    <input value={{Sub.TC}} name="TC" type="number" class="form-control">
                </div>
            </div>
        
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>PC</label>
                    <input value={{Sub.PC}} name="PC" type="number" class="form-control">
                </div>
            </div>

            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Credit</label>
                    <input value ="{{Sub.Creadite}}" name="Credit" type="number" class="form-control">
                </div>
            </div>

            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Department</label>
                    <select name="Department" class="form-control">
                    <option value="0">Select Department</option>
                    {% for x in Dep %}
                    <option value="{{x.id}}" >{{x.Dep_Name}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            
        
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
     </div>
    </form>
    </div>
    </div>
    </div>
     </div>
    </div>

    {% endif %}
    

{% endblock %}