{% extends "base.html" %}


{% block start %}


{% if user.user_type == "1" %}

<div class="content container-fluid">

    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Update Head Of Dep</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Head Of Dep</a></li>
    <li class="breadcrumb-item active">Update Head Of Dep</li>
    </ul>
    </div>
    </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">
    <div class="card">
    <div class="card-body">



    
    <form method="post", enctype="multipart/form-data" >
        {% include "included/messages.html" %}
    {% csrf_token %}

    <div class="row">

        <div class="col-12">
            <h5 class="form-title"><span>Basic Details</span></h5>
        </div>
        
        
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>First Name</label>
                    <input value="{{Head_of_Deps.admin.first_name}}" required name="first_name" type="text" class="form-control">
                </div>
            </div>
        
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Last Name</label>
                    <input value="{{Head_of_Deps.admin.last_name}}"  required name="last_name" type="text" class="form-control">
                </div>
            </div>
        
            <div class="col-12 col-sm-6">
                <div class="form-group">
                    <label>Email ID</label>
                    <input value="{{Head_of_Deps.admin.email}}"  required name="email" type="email" class="form-control">
                </div>
            </div>

            <div class="col-12 col-sm-6">
                <div class="form-group">
                <label>Mobile</label>
                <input value="{{Head_of_Deps.admin.mobile_number}}" maxlength="11"  required name="mobile" type="text" class="form-control">
                </div>
            </div>

    <div class="col-12 mt-3">
    <h5 class="form-title"><span>Head of Dep Details</span></h5>
    </div>


    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label>Department</label>
            <select name="Department" class="form-control">
            <option value="">Select Department</option>
            {% for x in Dep %}
            <option value="{{x.id}}" >{{x.Dep_Name}}</option>
            {% endfor %}
            </select>
        </div>
    </div>


    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label>Gender</label>
            <select name="Gender" class="form-control">
            <option value="">Select Gender</option>
            <option value="Male" >Male</option>
            <option value="Female">Female</option>
            <option value="Custom" >Others</option>
            </select>
        </div>
    </div>




    <div class="col-12 col-sm-6">
        <div class="form-group">
            <label>Joining Date</label>
            <input name="JoinDate" type="date" class="form-control">
        </div>
    </div>


    <div class="col-12 col-sm-6">
        <div class="form-group">
        <label>Date of Birth</label>
        <input name="date_of_birth" type="date" class="form-control">
        </div>
    </div>



    <div class="col-12">
        <div class="form-group">
        <label>Images</label>
        <input name="iamges" type="file" class="form-control">
        </div>
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
     </div>
    </form>
    </div>
    </div>
    </div>
     </div>
    </div>


{% endif %}
    

{% endblock %}