{% extends "base.html" %}


{% block start %}

{% if user.user_type == "5" %}
<div class="content container-fluid">

    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">ADD Vission</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Vission</a></li>
    <li class="breadcrumb-item active">ADD Vission</li>
    </ul>
    </div>
    </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">
    <div class="card">
    <div class="card-body">



    
    <form method="post" >
        {% include "included/messages.html" %}

    {% csrf_token %}

    <div class="row">

        <div class="col-12">
            <h5 class="form-title"><span>Vissions Details</span></h5>
        </div>
        
  
        
            <div class="col-12">
                <div class="form-group">
                    <label>Missions</label>
                    <textarea class="form-control"  name="Mission_text"  cols="30" rows="10"></textarea>
                </div>
            </div>
 

    <div class="col-12">
        <button type="submit" class="btn btn-primary">ADD</button>
    </div>

     </div>
    </form>
    </div>
    </div>
    </div>
     </div>
    </div>


    {% endif %}
    

{% endblock %}