{% extends "base.html" %}


{% block start %}

{% if user.user_type == "1" or user.user_type == "2" or user.user_type == "3" or user.user_type == "4" or user.user_type == "5" %}

<div class="content container-fluid">

    <div class="page-header">
    <div class="row align-items-center">
    <div class="col">
    <h3 class="page-title">Create a Post</h3>
    <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Posts</a></li>
    <li class="breadcrumb-item active">Create a Post</li>
    </ul>
    </div>
    </div>
    </div>
    
    <div class="row">
    <div class="col-sm-12">
    <div class="card">
    <div class="card-body">



    
    <form method="post", enctype="multipart/form-data" >
        {% include "included/messages.html" %}
    {% csrf_token %}

    <div class="row">

        <div class="col-12">
            <h5 class="form-title"><span>Post Details</span></h5>
        </div>
        
        
            <div class="col-12">
                <div class="form-group">
                    <label>Title</label>
                    <input required name="Image_title" type="text" class="form-control">
                </div>
            </div>
        
            <div class="col-12">
                <div class="form-group">
                    <label>Discriptons</label>
                    <textarea required class="form-control"  name="Mission_text"  cols="30" rows="10"></textarea>
                </div>
            </div>
 
 

    <div class="col-12">
        <div class="form-group">
        <label>Images</label>
        <input name="iamges" required type="file" class="form-control">
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
     </div>
    </form>
    </div>
    </div>
    </div>
     </div>
    </div>

{% endif %}
    

{% endblock %}